@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

html, body {
    margin: 0;
    border: 0;
    font-family: 'Libre Bodoni', sans-serif;
    line-height: 1.5;
}

:root {
    --h1: 30px;
    --h2: 24px;
    --h3: 20px;
    --h4: 18px;
    --p: 16px;
    --small-desktop: 14px;
    --small-mobile: 18px;
    --icon-size-desktop: 28px;
    --icon-size-small-desktop: 20px;
    --size-mobile: 25px;
}

/* General style */

p {
    font-size: var(--p);
}

a {
    font-size: var(--p);
}

app-navigation {
    position: fixed;
    height: 100%;
    width: 80px;
    background-color: white;
    border-right: 1px solid #E3E2E2;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80px;
    margin: 10px 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section {
    margin-left: 80px;
}

.main-content {
    display: flex;
    justify-content: center;
}

.main-container {
    background: #E3D5E9;
    margin: 20px;
    padding: 30px;
    border-radius: 50px;
    position: relative;
}

#auth-main {
    background: #E3D5E9;
    margin: 20px;
    padding: 30px;
    border-radius: 50px;
    position: relative;
}

/* Buttons style */

button {
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: box-shadow 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
    background-color: white;
    background-size: var(--icon-size-desktop);
}

button:hover {
    transition: box-shadow 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 50px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button:active {
    transition: box-shadow 0.2s;
    box-shadow: none;
}

button#previous {
    background-image: url(/assets/previous.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.false {
    box-shadow: none;
    background-color: white;
}

.false:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: white;
}

.false:active {
    transition: box-shadow 0.2s;
    box-shadow: none;
}

.active {
    background-color: #E3D5E9;
}

nav ul div:nth-child(2),
nav ul div:nth-child(5) {
    margin-top: auto;
}

button#profile {
    background-image: url(/assets/profile.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.profile-menu-container {
    position: relative;
    display: flex;
}

.profile-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    transform: scale(0);
    left: 0;
    min-width: 160px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 10;
    padding: 20px;
    border-radius: 30px;

    opacity: 0;
    visibility: hidden;
    transition: transform 0.2s ease, opacity 0.2s ease, visibility 0.2s ease;
}

.profile-menu-container:hover button#profile {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.profile-menu-container:hover .profile-dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: scale(100%);
    z-index: 10;
}

button#dashboard {
    background-image: url(/assets/dashboard.svg);
    background-position: center;
    background-repeat: no-repeat;
}

button#calendar-btn {
    background-image: url(/assets/calendar.svg);
    background-position: center;
    background-repeat: no-repeat;
}

button#search {
    background-image: url(/assets/search.svg);
    background-position: center;
    background-repeat: no-repeat;
}

button#settings {
    background-image: url(/assets/settings.svg);
    background-position: center;
    background-repeat: no-repeat;
}

button#help {
    background-image: url(/assets/help.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/* Accessibility labels for buttons */

.accessibility-container {
    position: relative;
    display: flex;
    margin-bottom: 10px;
}

.accessibility-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    transform: scale(0);
    left: 0;
    width: auto;
    height: auto;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 10;
    border-radius: 30px;

    opacity: 0;
    visibility: hidden;
    transition: transform 0.2s ease, opacity 0.2s ease, visibility 0.2s ease;
}

.accessibility-dropdown:hover button#dashboard,
.accessibility-dropdown:hover button#calendar-btn,
.accessibility-dropdown:hover button#search,
.accessibility-dropdown:hover button#settings,
.accessibility-dropdown:hover button#help {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.accessibility-container:hover .accessibility-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(100%);
    z-index: 10;
}

.accessibility-container.accessibility-down .accessibility-dropdown {
    top: -125% !important;
}

.accessibility-container:hover.accessibility-down .accessibility-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(100%) !important;
    z-index: 10;
}

/* Course list style */

.course-main-title {
    margin: 5px 0 35px 0;
    font-size: 30px;
}

.course-main-paragraph {
    margin: 5px 0 35px 0;
}

.gpa-bar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}

.gpa-bar p {
    opacity: 100% !important;
}

.gpa-bar .gpa-fill:nth-child(-n+2) {
    grid-column: span 3;
}

.gpa-bar .gpa-fill:nth-child(1) {
    background-color: #92ECB0;
}
.gpa-bar .gpa-fill:nth-child(2) {
    background-color: #D1E7C9;
}
.gpa-bar .gpa-fill:nth-child(3) {
    background-color: #F6EBC1;
    border-bottom-left-radius: 30px;
    font-size: 13px;
}
.gpa-bar .gpa-fill:nth-child(4) {
    background-color: #FFDD55;
    font-size: 13px;
}
.gpa-bar .gpa-fill:nth-child(5) {
    background-color: #ED7F81;
    border-bottom-right-radius: 30px;
    font-size: 13px;
}

.gpa-bar .gpa-fill:nth-child(n+3) {
    grid-column: span 2;
}

#course-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 900px;
}

.class-outside {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.class-container {
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    flex: 1;
}

#course-list p {
    opacity: 60%;
    margin: 5px 0;
}

#course-list h2 {
    margin: 5px 0 40px 0;
}

#course-list h3 {
    margin: 5px 0;
}

.class-space {
    margin: 40px 0;
}

.class-info {
    display: flex;
    padding: 100px;
    background-color: black;
    position: fixed;
    bottom: -500%;
    left: 0;
    z-index: 10;
    transition: all 0.2s;
}

.show {
    width: 100%;
    height: 50%;
    bottom: 0;
    transition: all 0.2s;
}



/* Calendar style */

.highlight-column {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: white;
    opacity: 40%;
    z-index: 1;
    pointer-events: none;
}

.calendar-first {
    width: 5%;
}

#calendar {
    border-collapse: collapse;
    width: 100%;
}

table {
    width: 100%;
    height: 100%;
    max-width: 900px;
    min-height: 900px;
}

td {
    width: 100px;
}

td, th {
    padding: 0;
    margin: 0;
    padding: 10px;
    position: relative;
    z-index: 2;
}

td p {
    margin: 0;
}

#smaller-text {
    font-size: 15px;
    opacity: 60%;
    margin-bottom: 5px;
}

.main-container.calendar-container {
    padding: 20px;
}

.course-cell {
    border-radius: 50px;
    padding: 20px;
    font-size: var(--p);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 150px;
    width: 140px;
    z-index: 2;
    justify-content: center;
}

.course-cell:hover {
    transition: box-shadow 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 0px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.course-cell:active {
    transition: box-shadow 0.2s;
    box-shadow: none;
}

.empty-cell {
    display: none;
}

.mobile-day-buttons {
    display: none;
}

/* Mobile navigation bar */

@media (max-width: 780px) {

    button {
        background-size: 35px !important;
        background-color: transparent !important;
        width: 40px !important;
        height: 45px !important;
        box-shadow: none !important;
    }

    button:hover {
        background-size: 35px !important;
        width: 40px !important;
        height: 45px !important;
        box-shadow: none !important;
    }

    button:active {
        background-size: 35px !important;
        width: 40px !important;
        height: 45px !important;
        box-shadow: none !important;
    }

    button#profile {
        background-image: url(/assets/mobile/mobile-profile.svg) !important;
    }

    button#profile:active, button#profile.active {
        background-image: url(/assets/mobile/mobile-profile-fill.svg) !important;
    }

    button#dashboard {
        background-image: url(/assets/mobile/mobile-dashboard.svg) !important;
    }

    button#dashboard:active, button#dashboard.active {
        background-image: url(/assets/mobile/mobile-dashboard-fill.svg) !important;
    }

    button#calendar-btn {
        background-image: url(/assets/mobile/mobile-calendar.svg) !important;
    }

    button#calendar-btn:active, button#calendar-btn.active {
        background-image: url(/assets/mobile/mobile-calendar-fill.svg) !important;
    }

    button#search {
        background-image: url(/assets/mobile/mobile-search.svg) !important;
    }

    button#search:active, button#search.active {
        background-image: url(/assets/mobile/mobile-search-fill.svg) !important;
    }

    button#settings {
        display: none;
    }

    button#help {
        display: none;
    }

    .false {
        box-shadow: none !important;
    }

    .false:hover {
        box-shadow: none !important;
    }

    .false:active {
        box-shadow: none !important;
    }

    nav ul div:nth-child(2), nav ul div:nth-child(5) {
        margin-top: 0px !important;
    }

    nav ul div:nth-child(5), nav ul div:nth-child(6) {
        display: none !important;
    }

    nav {
        margin: 0 !important;
        height: 100% !important;
        display: flex;
        width: 100% !important;
        flex-direction: row;
    }

    nav ul {
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        justify-content: space-evenly;
        flex-direction: row;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    app-navigation {
        position: fixed;
        height: 80px;
        width: 100% !important;
        bottom: 0;
        left: 0;
        background-color: white;
        z-index: 10000;
        border-top: 1px solid #E3E2E2;
    }

    .navigation-text {
        display: flex !important;
        margin: 0;
        font-size: 11px !important;
    }

    .accessibility-container {
        margin: 0 !important;
        align-items: center;
    }

    .profile-menu-container {
        align-items: center;
    }

    html, body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    section {
        flex: 1;
        overflow-y: auto;
        margin-left: 0 !important;
        padding-bottom: 80px;
    }
}

/* Mobile calendar */

@media (max-width: 780px) {

    td, th {
        padding: 0px !important;
    }

    td p {
        font-size: var(--size-mobile) !important;
        font-weight: 900;
    }

    #smaller-text {
        font-size: var(--small-mobile) !important;
        font-weight: 100;
        margin-bottom: 0px !important;
    }

    .main-container.calendar-container {
        width: 100%;
        padding: 30px 30px 5px 30px !important;
    }

    .main-container.calendar-container table {
        width: 100%;
        min-height: auto;
    }

    .main-container.calendar-container thead {
        display: none;
    }

    .main-container.calendar-container tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .main-container.calendar-container th,
    .main-container.calendar-container td {
        width: 100%;
        padding: 10px;
    }

    .course-cell {
        border-radius: 50px;
        padding: 30px !important;
        font-size: var(--p);
        height: 200px !important;
        width: 100% !important;
        margin: 15px 0;
        gap: 20px;
        font-size: var(--size-mobile) !important;
    }

    .course-title {
        width: 50%;
        display: flex;
        height: 100%;
        align-items: center;
    }

    .course-classroom {
        display: flex !important;
        height: 100%;
        width: 50%;
        align-items: center;
        justify-content: flex-end;
    }

    .empty-cell {
        display: flex;
        justify-content: center;
        padding: 40px !important;
        align-items: center;
        height: 150px !important;
        background-color: #E3E2E2;
        font-size: var(--size-mobile) !important;
    }

    .empty-classroom {
        display: none !important;
    }

    .empty-classroom-title {
        width: 100% !important;
        text-align: center;
    }

    .mobile-day-buttons {
        display: flex;
        margin: 0 20px;
        padding: 10px 0;
        justify-content: space-between;
    }

    .day-button {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        border: none;
        transition: box-shadow 0.2s;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-color: white;
    }

    .day-button:hover {
        transition: box-shadow 0.2s;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 50px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .day-button.active {
        background-color: #E3D5E9;
        transition: box-shadow 0.2s;
    }

    .mobile-time::before {
        content: " - ";
    }

    .mobile-time {
        display: unset !important;
    }
}

.course-classroom {
    display: none;
}

.mobile-time {
    display: block;
}

.navigation-text {
    display: none;
}

/* Calendar style (max 1020px) */

@media (max-width: 1020px) {
    .main-container.calendar-container {
        padding: 15px;
    }

    td, th {
        font-size: var(--small-desktop);
        padding: 5px;
    }

    td p {
        font-size: var(--small-desktop);
    }

    #smaller-text {
        font-size: 13px;
    }

    .course-cell {
        border-radius: 40px;
        padding: 15px;
        font-size: var(--small-desktop);
        height: 120px;
        width: 110px;
    }
}

/* Button style (max 1020px) */

@media (max-width: 1020px) {
    button {
        width: 50px;
        height: 50px;
        background-size: var(--icon-size-small-desktop);
    }
}

/* Navigation sidebar (max 1020px) */

@media (max-width: 1020px) {
    app-navigation {
        width: 70px;
    }

    nav {
        width: 70px;
    }

    section {
        margin-left: 70px;
    }

    .accessibility-dropdown {
        padding: 6px 16px;
    }
}

/* General style (max 1020px) */
@media (max-width: 1020px) {
    p {
        font-size: var(--small-desktop);
    }

    a {
        font-size: var(--small-desktop);
    }
}