@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

html, body {
    margin: 0;
    border: 0;
    font-family: 'Libre Bodoni', sans-serif;
    line-height: 1.5;
}

:root {
    --h1: 30px;
    --h2: 24px;
    --h3: 20px;
    --h4: 18px;
    --p: 16px;
}

/* General style */

.main-content {
    display: flex;
    justify-content: center;
}

.main-container {
    background: #E3D5E9;
    margin: 20px;
    padding: 30px;
    border-radius: 50px;
}

/* Buttons style */

button {
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    transition: box-shadow 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
}

button:hover {
    transition: box-shadow 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 50px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button:active {
    transition: box-shadow 0.2s;
    box-shadow: none;
}

button#previous {
    background-image: url(/assets/icon.svg);
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
}

/* Course list style */

.course-main-title {
    margin: 5px 0 35px 0;
    font-size: 30px;
}

.course-main-paragraph {
    margin: 5px 0 35px 0;
}

.gpa-bar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}

.gpa-bar p {
    opacity: 100% !important;
}

.gpa-bar .gpa-fill:nth-child(-n+2) {
    grid-column: span 3;
}

.gpa-bar .gpa-fill:nth-child(1) {
    background-color: #92ECB0;
}
.gpa-bar .gpa-fill:nth-child(2) {
    background-color: #D1E7C9;
}
.gpa-bar .gpa-fill:nth-child(3) {
    background-color: #F6EBC1;
    border-bottom-left-radius: 30px;
    font-size: 13px;
}
.gpa-bar .gpa-fill:nth-child(4) {
    background-color: #FFDD55;
    font-size: 13px;
}
.gpa-bar .gpa-fill:nth-child(5) {
    background-color: #ED7F81;
    border-bottom-right-radius: 30px;
    font-size: 13px;
}

.gpa-bar .gpa-fill:nth-child(n+3) {
    grid-column: span 2;
}

#course-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 900px;
}

.class-outside {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.class-container {
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    flex: 1;
}

#course-list p {
    opacity: 60%;
    margin: 5px 0;
}

#course-list h2 {
    margin: 5px 0 40px 0;
}

#course-list h3 {
    margin: 5px 0;
}

.class-space {
    margin: 40px 0;
}

.class-info {
    display: flex;
    padding: 100px;
    background-color: black;
    position: fixed;
    bottom: -500%;
    left: 0;
    transition: all 0.2s;
}

.show {
    width: 100%;
    height: 50%;
    bottom: 0;
    transition: all 0.2s;
}



/* Calendar style */

.highlight {
    background-color: aqua;
    margin: 0;
    border: none;
}

.calendar-first {
    width: 5%;
}

table {
    border-spacing: 20px;
    width: 100%;
    height: 100%;
    max-width: 900px;
    min-width: 900px;
}

td {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
}

td p {
    margin: 0;
}

#smaller-text {
    font-size: 15px;
    opacity: 60%;
    margin-bottom: 5px;
}

.course-cell {
    border-radius: 50px;
    padding: 20px;
    font-size: var(--p);
    transition: box-shadow 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
}

.course-cell:hover {
    transition: box-shadow 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 0px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.course-cell:active {
    transition: box-shadow 0.2s;
    box-shadow: none;
}